
<div class=" content">
  <div class=" row">
    <div class=" col-md-2 pr-md-1">
      <div class=" form-group">
        <label> Year </label>
        <input
          class=" form-control"
          [formControl]="year"
          placeholder="Year"
          type="text"
        />
      </div>
    </div>
    <div class=" col-md-2 pl-md-1">
      <div class=" form-group">
        <label> Month </label>
        <input
          class=" form-control"
          [formControl]="month"
          placeholder="Month"
          type="text"
        />
      </div>
    </div>
    <button class="btn btn-fill btn-danger" style="    margin-top: 30px;
    height: 38px;" type="submit" (click)="onSearch()">Search</button>
  </div>
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Buidling staffs monthly salary</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>ID</th>
                  <th>Staff code</th>
                  <th>Full name</th>
                  <th>Rank</th>
                  <th class=" text-center">Actual monthly salary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let staff of staffs; index as i; first as isFirst">
                  <td>{{staff.staff_id}}</td>
                  <td>{{staff.staff_code}}</td>
                  <td>{{staff.full_name}}</td>
                  <td>{{staff.rank}}</td>
                  <td class=" text-center">{{staff.actual_month_salary}}$</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
